section#main__lower
  .location
    i.fa-solid.fa-location-dot
    | 거리 기준: 한국외국어대학교 서울캠퍼스 (이문동)
  nav.menuOfMenu
    ul
      a(href="#")
        li.allMenus.focus 전체 상품
      a(href="#")
        li.todayMenus 오늘의 상품
      a(href="#")
        li.veganMenus 비건 제품
      a(href="#")
        li.recylingMenus 리사이클 & 업사이클링
  .menuList
    ul
      a(href=`/home/${menus[0].menuIdx}`)
        li.menu
          img(src=`${menus[0].menuImg}`, alt="")
          .info
          p.store 가게: #{ menus[0].restaurantName } (#{ menus[0].distance })
          p.menu 상품: #{ menus[0].menuName } (#{ menus[0].menuQuantity })
          p
            span #{ menus[0].menuOriginalPrice }
            | #{ menus[0].menuDiscountPrice } 원

  button.moreBtn 더보기
script(
  src="https://kit.fontawesome.com/271532994e.js",
  crossorigin="anonymous"
)
