.container
  .slider
    .page1
      .page1__col1
        p.desc__row1 Zero-Link,
        img.desc__row2(src="../../static/images/text_zeroWaste.png", alt="")
        .desc__row3
          p 소상공인들과 함께 지구를 지키는 움직임
          i.fa-brands.fa-youtube
          i.fa-brands.fa-instagram
      .page1__col2
        img.link(src="../../static/images/logo.png", alt="")
        img.people(src="../../static/images/people.png", alt="")
    .page2
      .page2__col1
        .apple1
          img(src="../../static/images/apple.png", alt="")
          .wrapper1
            p 텀블러 사용 30일
        .apple2
          img(src="../../static/images/apple.png", alt="")
          .wrapper2
            p 제로링크 다이어리 30일
      .page2__col2
        img.col2__row1(src="../../static/images/text_challenge.png", alt="")
        img.col2__row2(src="../../static/images/text_payFree.png", alt="")
        // 어느 url로 넘어가는지 정해야 함 (가입하지 않은 경우 회원가입 / 가입한 경우 챌린지 메뉴)
        a.col2__row3(href="#")
          img(src="../../static/images/text_start.png", alt="")
      .page2__col3
        .tree
          img(src="../../static/images/tree.png", alt="")
          if {userIdx}
            p.data1 100#{ progress1 }
            p.data2 200#{ progress2 }
            p.data3 300#{ progress3 }
          else
            p 회원가입 하셔서 챌린지에 참여해보세요!
  .buttons
    button.btn__page1
    button.btn__page2
script(
  src="https://kit.fontawesome.com/271532994e.js",
  crossorigin="anonymous"
)
script(src="../../static/js/main.js")
